* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 5px;
  display: grid;

  grid-template-columns: 1fr 200px;
  grid-template-rows: 80px 40px 1fr 40px;
  gap: 5px;
}

.item {
  background-color: lightcoral;
  border: 1px solid black;
}

header {
  grid-area: 1 / 1 / 2 / 3;
}

nav {
  grid-area: 2 / 1 / 3 / 3;
}

main {
  grid-area: 3 / 1 / 4 / 2;
}

aside {
  grid-area: 3 / 2 / 4 / 3;
}

footer {
  grid-area: 4 / 1 / 5 / 3;
}
